.step {
    margin-top: 162px;
}

.step__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 929px;
}

.step__paragraph {
    color: #3D82F2;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
}

.step__title {
    color: #fff;
    font-size: 75px;
    font-weight: 600;
    line-height: 112px;
    text-align: center;
}

.step__text {
    color: #707070;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
}

.step__btn {
    margin-top: 34px;
    padding: 24px 0;
    width: 100%;
    max-width: 313px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

// responsive part
@media screen and (max-width: 1000px) {
    .step__title{
        font-size: 62px;
        line-height: 90px;
    }
    .step__text{
        font-size: 20px;
    }
}
@media screen and (max-width: 780px) {
    .step__title{
        font-size: 48px;
        line-height: 60px;
    }
    .step__text{
        font-size: 18px;
        line-height: 25px;
        padding: 0 10px;
    }
}
@media screen and (max-width: 600px) {
    .step__title{
        font-size: 32px;
    }
}
@media screen and (max-width: 400px) {
    .step__title{
        font-size: 24px;
        line-height: 25px;
        margin-bottom: 10px;
    }

}